@charset "utf-8";

:root {
	--gap-s: .75em;
	--gap-m: 1.5em;
	--gap-l: 3em;
}

html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: Helvetica, sans-serif;
	line-height: 1.75;
}

main canvas {
	display: block;
	border-radius: .5em;
}

.mono {
	font-family: monospace;
}
.mono * {
	font-family: inherit;
}

.wrap {
	padding: 1.5em;
}

.cols {
	--gap-x: var(--gap-m);
	display: flex;
	gap: var(--gap-x);
}
.cols .cols {
	--gap-x: var(--gap-s);
}

.rows {
	--gap-y: var(--gap-m);
}
.rows .rows {
	--gap-y: var(--gap-s);
}
.rows > * {
	display: block;
}
.rows > * + * {
	margin-top: var(--gap-y);
}

.toolbar {
	text-align: right;
	margin-top: var(--gap-m);
}
.toolbar > * + * {
	margin-left: var(--gap-s);
}

#shapes {
	width: 16em;
	height: 24em;
	white-space: pre;
}

#width, #height {
	width: 6em;
}

