@charset "utf-8";

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, sans-serif;
}

canvas {
  display: block;
}

.wrap {
  display: flex;
  gap: 1.5em;
  padding: 1.5em;
}

.rows > * {
  display: block;
}
.rows > * + * {
  margin-top: 1em;
}

#shapes {
  width: 12em;
  height: 24em;
}

#width, #height {
  width: 6em;
}

