@charset "utf-8";

html, body {
  margin: 0;
  padding: 0;
}

html, body, main {
	height: 100%;
}

.wrap {
	display: flex;
	gap: 20px;
	align-items: center;
	justify-content: center;
}

#color {
	margin-bottom: 20px;
}

main {
}

canvas {
  display: block;
}

#data {
	display: block;
	width: 40em;
	height: 10em;
}
