@charset "utf-8";

html, body {
  margin: 0;
  padding: 0;
}

body {
	font-size: 20px;
	font-family: Futura, Avenir, "Century Gothic", sans-serif;
	text-align: center;
}

canvas {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

input {
	margin-top: 1em;
	margin-bottom: 1em;
	font-size: 20px;
}
